<div class="row">
    <aside class="col-md-3">
        <h2>About</h2> 
        <p>I am a computer programming student interested in developing software solutions. I focus on programming languages, algorithms, and data structures, and I enjoy working on challenging projects to learn new technologies.</p>
    </aside>
    <section class="main col-md-9">
        <article>
            <h2>Coming Soon</h2> 
            <p>Stay tuned for future updates… exciting things are on the way!</p> 
        </article>
    </section>
</div>

